* {
    /* margin:1rem; */
}

.check {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.search-bar-text3-second {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
    padding-right: 0.5rem;
}

.search-bar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 1rem;
    border: 1px solid var(--grey);
    border-radius: 2rem;

    box-shadow: 0 1px 2px rgb(0 0 0 /8%), 0 4px 12px rgb(0 0 0 /5%);
}

.share-container {
    display: flex;
    align-items: flex-end;
}

.productperpage-image-conatiner {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    /* border: solid; */
    /* border: solid; */
}

.productperpage-image-small-contanier {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* border: solid; */
}

.productperpage-image-big {
    height: 25rem;
    width: 35rem;

    /* border: 1px solid red; */
}

.productperpage-image-smaall {
    /* border: 1px solid green; */
    height: 200px;
}

.productperpage-image-small-contanier-1 {
    /* border: 1px solid yellow; */
    /* border: solid; */
    display: flex;
    flex-direction: column;
}

.productperpage-image-small-contanier-2 {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;

    /* border: 1px solid blueviolet */
}

.summary-and-description {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  
}
.summary-and-description-second-container{
 
    width: 57rem;
}

.Air-text {
    color: var(--theme);
    font-size: 2.5rem;
}

.cover-text {
    color: #222222;
    font-size: 2.5rem;
}

.banner-container {
    display: flex;
    flex-direction: column;
}

.bedroom-image {
    height: 10rem;
}

.amenities-container {
    display: flex;
    flex-direction: column;
    margin: 0.25rem
}

.amenitites {

    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.amenities-first-block {
    /* display: flex; */
    align-items: baseline;
}

.calendar-container {
    display: flex;
    gap: 2rem;
}

.review-marking {
    display: flex;
    justify-content: space-between;
}

.checkout-box{
    position: sticky;
    top:100px;
    height: 25rem;
    width: 22rem;
    /* margin-right: 1rem; */
    padding: 1rem;
    border:1px solid var(--font-grey);
    border-radius: 30px;

}

.owner-and-checkoutbox {
    display: flex;
    justify-content: space-between;
}

.checkin-and-checkout {
    display: flex;
    justify-content: space-evenly;
}