.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}


.navbar-img {
    height: 2rem;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 1rem;
    border: 1px solid var(--grey);
    border-radius: 2rem;

    box-shadow: 0 1px 2px rgb(0 0 0 /8%), 0 4px 12px rgb(0 0 0 /5%);
}

.search-bar:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 /12%), 0 4px 12px rgb(0 0 0 /8%);
    transition: all 0.2s;
    cursor: pointer;
}

.search-bar-text {
    text-decoration: none;
    border: none;
    background-color: #f7f7f7;
    font-size: 0.85rem;
    font-weight: 600;
    border-right: 1px solid var(--grey);
    padding-right: 0.5rem;
}

.search-bar-text3 {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
    padding-right: 0.5rem;
}

.search-bar-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    padding: 0.25rem;
    border-radius: 50%;
    color: white
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
}

.airbnb-your-home {
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 3rem;
}

.airbnb-your-home:hover {
    background-color: #f7f7f7
}

.phone-input {
    height: 8rem;
    width: 2rem;
}

.btn {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    /* width: 20rem;
    border: solid 0.05rem grey;
    margin: 1rem; */
}

.all-social-btn {
    display: flex;
    flex-direction: column;
}

/* .social-btn{
    display: flex;
    justify-content: space-between;
} */

#text-login {
    margin-left: 10rem;
}

.phone-container {
    margin: 1rem;
}

.privacy-text {
    /* height: 30px; */
    margin-left: 1rem;
}

.dropdown-menu-for-images {
    display: flex;
    width: 40rem;
    position: absolute;
    top: 0;
    z-index: 999
}

.image-searchbar-map {
    height: 8rem;
    border: 1px solid var(--grey);
}

.input-of-quantity {
    width: 2rem;
}

.offcanvas-body {
    overflow: unset;
}

.image-searchbar-map-container-1 {
    /* border:solid; */
    display: flex;
    justify-content: space-evenly;
    /* width: 30rem; */
}

.image-container-box {
    margin: 0.5rem;

}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.navbar2-second-bar {
    display: flex;

    width: 70rem;
    gap: 4rem;
    /* background-color: var(--grey); */
    margin-left: 12rem;
    /* justify-content: space-evenly; */
}

.d-flex-check {
    border: 3px solid var(--grey);
    border-radius: 45px;
    display: flex;
    width: 44rem;
    gap: 3rem
}

/* .d-flex-check:hover{
    background-color: grey;
} */
.where-input-container {
    display: flex;
    flex-direction: column;
    border: none;
}

.where-input-container:hover {
    background-color: var(--grey);
    border-radius: 70px;
}

.where-input-active:focus {
    background-color: red;
}

.input-container-where-box:hover {
    background-color: var(--grey);
}

.checkin-container-navbar2 {
    display: flex;
    flex-direction: column;
}

.checkin-container-navbar2:hover {
    background-color: var(--grey);
    border-radius: 70px;
}

.guest-who-quantity {
    margin: 2rem;
    width: 20rem;
}

.counter-qunatity {
    display: flex;
}

.btn-for-increase {
    background-color: white;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--font-grey);
}