.checkout-navbar-img {
    height: 2rem;
    margin: 2rem;
}

.guests-and-number-container {
    display: flex;
    /* justify-content: space-between; */
}

.paynow-container {
    display: flex;
    border: solid;
}

.drop-of-cards {
    border: solid;
}