:root {
    --grey: #ddd;
    --font-grey: #717171;
    --theme: #ff385C;
}


body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    display: none;
}